@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-black text-white antialiased;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 via-yellow-200 to-yellow-400;
}

.bg-bobyellow {
  background-color: #F8E49F;
}
.wallet-address {
    word-break: break-all;
    overflow-wrap: anywhere;
    white-space: normal;
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
  }